@font-face {
    font-family: 'Cascadia-Mono';
    src: url('/assets/CascadiaMono-Regular.otf');
}
.backdrop {
    background: linear-gradient(to top right,
    #efc4c4,
    #e8c3c3,
    #cc9f9f,
    #d3afaf,
    #e3b9b9,
    #dab0b0,
    #fdd0d0,
    #e8b8b8,
    #ffb6b6) fixed;
    background-size: 400% 400%;
    animation: AnimationName 80s linear infinite;
}
@keyframes AnimationName {
    0%{background-position: 0 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0 50%}
}

h1, h2, h3, h4, h5, h6, p, div, button, a {
    font-family: 'Cascadia-Mono', Arial, sans-serif;
    color: #ffffff;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    border: solid 3px #a60202;
    background: linear-gradient(to right, #d80404, #cd0101, #d80404);
    font-size: 1.25rem;
    border-radius: 5px;

    text-align: center;
    box-sizing: border-box;
    min-width: 145px;
    padding: 20px;
    margin: 10px;

    cursor: pointer;
}
button:hover {
    border-color: #8f0101;
    background: linear-gradient(to right, #c30202, #b80000, #c30202);
    font-weight: bold;
    color: #ffffff;
}

/* Situational */
#launch-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
}
#launch-branding {
    height: 12rem;
}