@font-face {
    font-family: 'Cascadia-Mono';
    src: url('assets/CascadiaMono-Regular.otf');
}
.backdrop {
    background: linear-gradient(to top right,
    #f16666,
    #d67575,
    #bc4e4e,
    #fa4141,
    #ff8080,
    #dd5c5c,
    #f67f7f,
    #dd4141,
    #bc2828) fixed;
    background-size: 600% 600%;
    animation: AnimationName 60s linear infinite;
}
@keyframes AnimationName {
    0%{background-position: 0 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0 50%}
}

h1, h2, h3, h4, h5, h6, p, div, button, a {
    font-family: 'Cascadia-Mono', Arial, sans-serif;
    color: white;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    border: solid 3px white;
    background-color: unset;
    font-size: 1.25rem;
    border-radius: 7px;

    text-align: center;
    box-sizing: border-box;
    min-width: 145px;
    padding: 20px;
    margin: 10px;

    cursor: pointer;
}
button:hover {
    background: #ffffff;
    font-weight: bold;
    color: #a60202;
}

/* Situational */
#launch-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
}
#launch-branding {
    height: 12rem;
}